.surface {
  padding: 23px 21px 25px 24px;
  position: relative;
  margin-bottom: 30px;
}

.btnCreateAccount {
  margin-top: 18px;
}

.btnSubmit {
  position: absolute;
  right: 21px;
  bottom: -20px;
  z-index: 1;
}

.textDescription {
  font-size: 12px;
  line-height: 40px;
}

@media (max-width: 567px) {
  .surface {
    border: none;
    padding: 23px 0 25px 0;
    background: none;
    box-shadow: none;
  }
}
